<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<title>Shoe Showcase</title>

    	<!-- CSS  -->
    	<link rel ="stylesheet" href="css/google-icons.css">
    	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	</head>
	<body>
		<div id="header" class="navbar-fixed">
			<nav class="white">
				<div class="nav-wrapper white container">
					<a id="logo-container" href="#!" class="brand-logo">Shoe Logo</a>	
					<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="menu material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
        				<li><a href="#products">Products</a></li>
        				<li><a href="#about">About</a></li>
        				<li><a href="#contact">Contact</a></li>
      				</ul>

					<ul id="mobile-menu" class="sidenav gray">
        				<li><a class="side-links" href="#">Shoe Logo</a></li>
						<li><a class="side-links" href="#products">Products</a></li>
        				<li><a class="side-links" href="#about">About</a></li>
        				<li><a class="side-links" href="#contact">Contact</a></li>
      				</ul>			
				</div>
			</nav>
		</div>

		<section class="container" id="slider">
			<div class="row">
				<div class="col s12">
					<div class="carousel carousel-slider">
						<a href="" class="carousel-item"><img src="img/blueAdidas.jpg" alt=""></a>
						<a href="" class="carousel-item"><img src="img/brownShoe.jpg" alt=""></a>
						<a href="" class="carousel-item"><img src="img/leatherShoes.jpg" alt=""></a>
						<a href="" class="carousel-item"><img src="img/moreLeather.jpg" alt=""></a>
						<a href="" class="carousel-item"><img src="img/sneakers.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</section>

		<h2 id="shoes">Our Shoes</h2>
  		<div class="container scrollspy" id="products">
		<!-- Row 1 -->
			<div class="row">
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/brownLeather.jpg" class="responsive-img" alt="Brown Leather Shoes">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/redNBlack.jpg" class="responsive-img" alt="Red and Black Shoes">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/womanShoe3.jpg" class="responsive-img" alt="Woman shoe on bed">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Row 2 -->
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/nikeShoes.jpg" class="responsive-img" alt="Brown Leather Shoes">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/whiteShoes.jpg" class="responsive-img" alt="Red and Black Shoes">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/brownShoe.jpg" class="responsive-img" alt="Woman shoe on bed">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Row 3 -->
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/sneakers.jpg" class="responsive-img" alt="Sneakers on rack">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/adidas.jpg" class="responsive-img" alt="Adidas Shoe">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/womanShoe1.jpg" class="responsive-img" alt="White femal shoe">
							<span class="card-title">Shoe Title</span>
							<a href="" class="btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i class="material-icons purchase">shopping_cart</i></a>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
			</div>
  		</div>

		<div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
				<div class="container">
					<div class="row center">
						<h5 class="header col s12 light parallax-header">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, quod.</h5>
					</div>
				</div>
			</div>
			<div class="parallax"><img src="img/shoeRack.jpg" alt="Unsplashed background img 2"></div>
		</div>

		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12 center">
						<h3><i class="mdi-content-send brown-text"></i></h3>
						<h4 id="about" class="scrollspy">About Us</h4>
						<p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
					</div>
				</div>
			</div>
		</div>

		<div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
				<div class="container">
					<div class="row center">
						<h5 class="header col s12 light white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia.</h5>
					</div>
				</div>
			</div>
			<div class="parallax"><img src="img/shoesWithLegs.jpg" alt="Shoes with Legs"></div>
		</div>

  		<footer class="page-footer scrollspy" id="contact">
    		<div class="container scrollspy">
      			<div>
        			<div class="col l3 s12 center">
          				<h5 class="white-text">Contact Us</h5>
          				<ul id="footerLinks">
            				<li><a class="white-text" href="#!">Facebook</a></li>
            				<li><a class="white-text" href="#!">Twitter</a></li>
        	    			<li><a class="white-text" href="#!">Instagram</a></li>
    	        			<li><a class="white-text" href="#!">Google</a></li>
							<li><a class="white-text" href="#!"></a></li>
	          			</ul>
        			</div>
	      		</div>
    		</div>
    		<div class="footer-copyright">
      			<div class="container center">
	      			<h5>&copy; 2018 Developed by Uzoanya Dominic - All Rights Reserved</h5>
      			</div>
    		</div>
			<div class="fixed-action-btn">
				<a href="#header" id="top" class="z-depth-2 btn-floating"><i class="top-btn material-icons">arrow_upward</i></a>
			</div>
  		</footer>
	
		<script src="js/jquery-3.3.1.min.js"></script>
  		<script src="js/materialize.js"></script>
  		<script src="js/index.js"></script>

  	</body>
</html>
