<!DOCTYPE html>
<html lang="en">
  	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    	<title>Shoe Showcase</title>
    	<link rel ="stylesheet" href="css/google-icons.css">
    	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	</head>
	<body>
		<div id="header" class="navbar-fixed">
			<nav class="white">
				<div class="nav-wrapper white container">
					<a id="logo-container" href="#!" class="brand-logo">Shoe Logo</a>	
					<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="menu material-icons">menu</i></a>
					<ul class="right hide-on-med-and-down">
        				<li class="links"><a href="#products">Products</a></li>
        				<li class="links"><a href="#about">About</a></li>
        				<li class="links"><a href="#contact">Contact</a></li>
      				</ul>

					<ul id="mobile-menu" class="sidenav gray">
        				<li><a class="side-links" href="#">Shoe Logo</a></li>
						<li><a class="side-links" href="#products">Products</a></li>
        				<li><a class="side-links" href="#about">About</a></li>
        				<li><a class="side-links" href="#contact">Contact</a></li>
      				</ul>			
				</div>
			</nav>
		</div>
		<section class="container" id="slider">
			<div class="row">
				<div class="col s12">
					{{!-- <div class="carousel carousel-slider">
						<a href="" class="carousel-item"></a>
						<a href="" class="carousel-item"></a>
						<a href="" class="carousel-item"></a>
						<a href="" class="carousel-item"></a>
						<a href="" class="carousel-item"></a>
					</div> --}}
					<div class="slider">
						<ul class="slides">
							<li>
								<img src="img/blueAdidas.jpg" alt="Blue Adidas Shoes">
								<div class="caption center-align">
									<h3>Lord knows I don't know what to write here</h3>
									<h5 class="light grey-text text-lighten-3">Slide 1 Subtitle</h5>
								</div>
							</li>
							<li>
								<img src="img/brownShoe.jpg" alt="Brown Leather Shoes">
								<div class="caption center-align">
									<h3>I'll just go ahead and write some crap</h3>
									<h5 class="light grey-text text-lighten-3">Slide 2 Subtitle</h5>
								</div>
							</li>
							<li>
								<img src="img/shoesWithLegs.jpg" alt="Shoes with Legs">
								<div class="caption center-align">
									<h3>Watch blah blah blah</h3>
									<h5 class="light grey-text text-lighten-3">Slide 3 Subtitle</h5>
								</div>
							</li>
							<li>
								<img src="img/moreLeather.jpg" alt="Leather Shoes">
								<div class="caption center-align">
									<h3>It's 2:47am</h3>
									<h5 class="light grey-text text-lighten-3">I'm supposed to be asleep</h5>
								</div>
							</li>
							<li>
								<img src="img/sneakers.jpg" alt="Sneakers">
								<div class="caption center-align">
									<h3>Don't know why I just can't slep at night</h3>
									<h5 class="light grey-text text-lighten-3">Maybe I'm I don't know</h5>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<h2 id="shoes">Our Shoes</h2>
  		<div class="container scrollspy" id="products">
		<!-- Row 1 -->
			<div class="row">
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/brownLeather.jpg" class="responsive-img" alt="Brown Leather Shoes">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 25,000</span>
							<a href="#shoe1Modal" class="modal-trigger btn btn-floating halfway-fab waves-effect waves-light red tooltipped" data-tooltip="Purchase Item"><i data-price="25000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe1Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe1Price">Price: &#8358; 25,000</h5>
									<form method="POST" name="shoe1Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form1Inputs" id="shoe1CustomerName" name="shoe1CustomerName" required>
											<label for="shoe1CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form1Inputs" id="shoe1Email" name="shoe1Email" required>
											<label for="Shoe1Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form1Inputs" id="shoe1Phone" name="shoe1Phone" required>
											<label for="shoe1Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form1Inputs" id="shoe1Quantity" name="shoe1Quantity" required>
											<label for="shoe1Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe1Color" class="form1Inputs" id="Shoe1Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">Brown</option>
												<option value="2">Black</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe1Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe1Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>		
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/redNBlack.jpg" class="responsive-img" alt="Red and Black Shoes">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 8,000</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe2Modal"><i data-price="8000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe2Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe2Price">Price: &#8358; 8,000</h5>
									<form method="POST" name="shoe2Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form2Inputs" id="shoe2CustomerName" name="shoe2CustomerName" required>
											<label for="shoe2CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form2Inputs" id="shoe2Email" name="shoe2Email" required>
											<label for="Shoe2Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form2Inputs" id="shoe2Phone" name="shoe2Phone" required>
											<label for="shoe2Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form2Inputs" id="shoe2Quantity" name="shoe2Quantity" required>
											<label for="shoe2Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe2Color" class="form2Inputs" id="Shoe2Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">Red</option>
												<option value="2">Blue</option>
												<option value="3">Yellow</option>
												<option value="4">Black</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe2Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe2Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	
								
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/womanShoe3.jpg" class="responsive-img" alt="Woman shoe on bed">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 15,000</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe3Modal"><i data-price="15000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe3Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe3Price">Price: &#8358; 15,000</h5>
									<form method="POST" name="shoe3Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form3Inputs" id="shoe3CustomerName" name="shoe3CustomerName" required>
											<label for="shoe3CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form3Inputs" id="shoe3Email" name="shoe3Email" required>
											<label for="Shoe3Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form3Inputs" id="shoe3Phone" name="shoe3Phone" required>
											<label for="shoe3Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form3Inputs" id="shoe3Quantity" name="shoe3Quantity" required>
											<label for="shoe3Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe3Color" class="form3Inputs" id="Shoe3Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">Red</option>
												<option value="2">Yellow</option>
												<option value="3">Black</option>
												<option value="4">Blue</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe3Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe3Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Row 2 -->
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/nikeShoes.jpg" class="responsive-img" alt="Brown Leather Shoes">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 3,500</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe4Modal"><i data-price="3500" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe4Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe4Price">Price: &#8358; 3,500</h5>
									<form method="POST" name="shoe4Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form4Inputs" id="shoe4CustomerName" name="shoe4CustomerName" required>
											<label for="shoe4CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form4Inputs" id="shoe4Email" name="shoe4Email" required>
											<label for="Shoe4Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form4Inputs" id="shoe4Phone" name="shoe4Phone" required>
											<label for="shoe4Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form4Inputs" id="shoe4Quantity" name="shoe4Quantity" required>
											<label for="shoe4Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe4Color" class="form4Inputs" id="Shoe4Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">Black</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe4Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe4Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/whiteShoes.jpg" class="responsive-img" alt="Red and Black Shoes">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 10,000</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe5Modal"><i data-price="10000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe5Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe5Price">Price: &#8358; 10,000</h5>
									<form method="POST" name="shoe5Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form5Inputs" id="shoe5CustomerName" name="shoe5CustomerName" required>
											<label for="shoe5CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form5Inputs" id="shoe5Email" name="shoe5Email" required>
											<label for="Shoe5Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form5Inputs" id="shoe5Phone" name="shoe5Phone" required>
											<label for="shoe5Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form5Inputs" id="shoe5Quantity" name="shoe5Quantity" required>
											<label for="shoe5Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe5Color" class="form5Inputs" id="Shoe5Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">White</option>
												<option value="2">Black</option>
												<option value="2">Blue</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe5Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe5Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/brownShoe.jpg" class="responsive-img" alt="Woman shoe on bed">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 15,000</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe6Modal"><i data-price="15000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe6Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe6Price">Price: &#8358; 15,000</h5>
									<form method="POST" name="shoe6Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form6Inputs" id="shoe6CustomerName" name="shoe6CustomerName" required>
											<label for="shoe6CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form6Inputs" id="shoe6Email" name="shoe6Email" required>
											<label for="Shoe6Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form6Inputs" id="shoe6Phone" name="shoe6Phone" required>
											<label for="shoe6Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form6Inputs" id="shoe6Quantity" name="shoe6Quantity" required>
											<label for="shoe6Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe6Color" class="form6Inputs" id="Shoe1Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">Brown</option>
												<option value="2">Black</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe6Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe6Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- Row 3 -->
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/sneakers.jpg" class="responsive-img" alt="Sneakers on rack">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 10,000</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe7Modal"><i data-price="10000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe7Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe7Price">Price: &#8358; 10,000</h5>
									<form method="POST" name="shoe7Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form7Inputs" id="shoe7CustomerName" name="shoe7CustomerName" required>
											<label for="shoe7CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form7Inputs" id="shoe7Email" name="shoe7Email" required>
											<label for="Shoe7Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form7Inputs" id="shoe7Phone" name="shoe7Phone" required>
											<label for="shoe7Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form7Inputs" id="shoe7Quantity" name="shoe7Quantity" required>
											<label for="shoe7Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe7Color" class="form7Inputs" id="Shoe7Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">White</option>
												<option value="2">Black</option>
												<option value="3">Red</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe7Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe7Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	8
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/adidas.jpg" class="responsive-img" alt="Adidas Shoe">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 8,000</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe8Modal"><i data-price="8000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe8Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe8Price">Price: &#8358; 8,000</h5>
									<form method="POST" name="shoe8Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form8Inputs" id="shoe8CustomerName" name="shoe8CustomerName" required>
											<label for="shoe1CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form8Inputs" id="shoe8Email" name="shoe8Email" required>
											<label for="Shoe8Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form8Inputs" id="shoe8Phone" name="shoe8Phone" required>
											<label for="shoe8Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form8Inputs" id="shoe8Quantity" name="shoe8Quantity" required>
											<label for="shoe8Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe8Color" class="form8Inputs" id="Shoe8Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">Blue</option>
												<option value="2">Black</option>
												<option value="3">Red</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe8Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe8Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
				<div class="col s12 m6 l4">
					<div class="card">
						<div class="card-image">
							<img src="img/womanShoe1.jpg" class="responsive-img" alt="White femal shoe">
							<span class="card-title"><i class="material-icons tags">local_offer</i>&#8358; 25,000</span>
							<a class="btn btn-floating halfway-fab waves-effect waves-light tooltipped modal-trigger" data-tooltip="Purchase Item" data-target="shoe9Modal"><i data-price="25000" class="material-icons purchase">shopping_cart</i></a>
							<div class="modal modal-fixed-footer section" id="shoe9Modal">
								<div class="modal-content">
									<h4>Product Details <i class="material-icons right closeModal modal-close">close</i></h4>
									<h5 id="shoe9Price">Price: &#8358; 25,000</h5>
									<form method="POST" name="shoe9Form" class="container">
										<div class="input-field">
											<i class="material-icons prefix">account_circle</i>
											<input type="text" class="form9Inputs" id="shoe9CustomerName" name="shoe9CustomerName" required>
											<label for="shoe9CustomerName">Customer Name</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">mail_outline</i>
											<input type="email" class="form9Inputs" id="shoe9Email" name="shoe9Email" required>
											<label for="Shoe9Email">Email</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">call</i>
											<input type="text" class="form9Inputs" id="shoe9Phone" name="shoe9Phone" required>
											<label for="shoe9Phone">Phone</label>
										</div>
										<div class="input-field">
											<i class="material-icons prefix">plus_one</i>
											<input type="text" class="form9Inputs" id="shoe9Quantity" name="shoe9Quantity" required>
											<label for="shoe9Quantity">Quantity</label>
										</div>
										<div class="input-field col12">
											<i class="material-icons prefix">palette</i>
											<select name="shoe9Color" class="form9Inputs" id="Shoe9Color">
												<option disabled selected value="">Choose a Colour</option>
												<option value="1">White</option>
												<option value="2">Black</option>
												<option value="3">Blue</option>
												<option value="4">Red</option>
												<option value="5">Yellow</option>
											</select>
										</div>
										<div class="input-field">
											<h4>Total: &#8358;<span id="shoe9Total">0</span></h4>
										</div>
										<div class="input-field">
											<button id="shoe9Submit" type="submit" class="btn left waves-effect waves-white">Place Order</button>
										</div>
									</form>
								</div>	
							</div>
						</div>
						<div class="card-content">
							<p>I am a very simple shoe. I am good for wearig to parties and burials and to market sometimes.</p>
						</div>
					</div>
				</div>
			</div>
  		</div>

		<div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
				<div class="container">
					<div class="row center">
						<h5 class="header col s12 light parallax-header">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum, quod.</h5>
					</div>
				</div>
			</div>
			<div class="parallax"><img src="img/shoeRack.jpg" alt="Unsplashed background img 2"></div>
		</div>

		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12 center">
						<h3><i class="mdi-content-send brown-text"></i></h3>
						<h4 id="about" class="scrollspy">About Us</h4>
						<p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
					</div>
				</div>
			</div>
		</div>

		<div class="parallax-container valign-wrapper">
			<div class="section no-pad-bot">
				<div class="container">
					<div class="row center">
						<h5 class="header col s12 light white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia.</h5>
					</div>
				</div>
			</div>
			<div class="parallax"><img src="img/leatherShoes.jpg" alt="Leather Shoes"></div>
		</div>

  		<footer class="page-footer scrollspy" id="contact">
    		<div class="container scrollspy">
      			<div>
        			<div class="col l3 s12 center">
          				<h5 class="white-text">Contact Us</h5>
          				<ul id="footerLinks">
            				<li><a class="white-text" href="#!">Facebook</a></li>
            				<li><a class="white-text" href="#!">Twitter</a></li>
        	    			<li><a class="white-text" href="#!">Instagram</a></li>
    	        			<li><a class="white-text" href="#!">Google</a></li>
							<li><a class="white-text" href="#!"></a></li>
	          			</ul>
        			</div>
	      		</div>
    		</div>
    		<div class="footer-copyright">
      			<div class="container center">
	      			<h5>&copy; 2018 Developed by Uzoanya Dominic - All Rights Reserved</h5>
      			</div>
    		</div>
			<div class="fixed-action-btn">
				<a href="#header" id="top" class="z-depth-2 btn-floating"><i class="top-btn material-icons">arrow_upward</i></a>
			</div>
  		</footer>
	
		<script src="js/jquery-3.3.1.min.js"></script>
  		<script src="js/materialize.js"></script>
  		<script src="js/index.js"></script>
  	</body>
</html>