nav ul a, nav .brand-logo {
  /* color: #444; */
  color: #008579;
}

p {
  line-height: 2rem;
}

nav ul a:hover {
	background-color: #008579 !important;
	color: #ffffff !important;
}

.sidenav-trigger {
	color: #c5c5c5;
}

.menu {
	color: #008579;
}

.menu:hover {
	background-color: #f5f5f5 !important;
}

.sidenav {
	background: linear-gradient(-90deg,#008579, #26a69a);
}

.side-links {
	color: #ffffff !important;
}

.slider .indicators .indicator-item.active {
	background-color: #008579;
}

#slider {
  	margin-top: 50px;
  	margin-bottom: 50px; 
}

.parallax-container {
  	min-height: 380px;
  	line-height: 0;
  	height: auto;
  	color: rgba(255,255,255,.9);
}
  	.parallax-container .section {
    	width: 100%;
  	}

@media only screen and (max-width : 992px) {
  	.parallax-container .section {
    	position: absolute;
    	top: 40%;
  	}
  	#index-banner .section {
    	top: 10%;
  	}
}

@media only screen and (max-width : 600px) {
  	#index-banner .section {
    	top: 0;
  	}	
}

.icon-block {
  	padding: 0 15px;
}
.icon-block .material-icons {
  	font-size: inherit;
}

#shoes {
  	background-color: whitesmoke;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 10px 0px;
}

.card-title {
	/* background-color: rgba(255, 255, 255, 0.5); */
	background-color: rgba(197, 197, 197, 0.5);
	color: #ffffff !important;
	font-weight: 300 !important;
	padding: 5px !important;
}

.purchase {
	background-color: #26a69a !important;
	color: #f5f5f5 !important;
}

.purchase:hover {
	background-color: #008579 !important;
}

.parallax-header {
	background-color: rgba(255, 255, 255, 0.5);
	color: rgb(0, 0, 0);
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-size: 25px !important;
}

.top-btn {
	background-color: #cc2b00 !important;
}

.top-btn:hover {
	background-color: #e43d10 !important;
}

#footerLinks {
		display: inline-block !important;
}

footer.page-footer {
  	margin: 0;
  	background-color: #008579 !important;
}